$primary-color: #444;
$secondary-color: rgb(16, 189, 233);
$show-home-image: true;
$home-image: url(../imgs/home_bg.jpg);
$background-opacity: 0.9;

@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image no-repeat center center fixed;
            background-attachment: fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            
            // En caso de querer incluir una capa con el color primario sobre la imagen de fondo. Opacidad modificable
            // &:after {
            //     content: '';
            //     position: absolute;
            //     top: 0;
            //     right: 0;
            //     width: 100%;
            //     height: 100%;
            //     z-index: -1;
            //     background: rgba($primary-color, 0.5);
            // }
        }
    }
}

// Set Text Color

@function set-text-color($color) {
    @if (lightness($color) > 40) {
        @return #000;
    } @else {
        @return #fff;
    }
}

// Media Query Mixin

@mixin mediaXs {
    @media screen and (max-width: 320px) {
        @content;
    }
}

@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1100px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1101px) {
        @content;
    }
}

// Horizontally oriented Smartphones
@mixin mediaSm_Hori {
    @media screen and (max-width: 768px) and (orientation:landscape) {
        @content;
    }
}

// Horizontally oriented Large Smartphones
@mixin mediaSm_Hori_LS {
    @media screen and (min-width: 769px) and (max-width: 825px) and (max-height: 425px) and (orientation:landscape) {
        @content;
    }
}