// Widescreens
@include mediaXl {
    // .btn-line {
    //     width: 38px;
    //     height: 5px;
    //     margin: 0 0 7px 0;
    //     background: #fff;
    //     border-radius: 5px;
    //     @include easeOut;
    // }

    .posts {
        grid-template-columns: repeat(4, 1fr);
    }

    body.second_bg_img.city {
        background-image: url('../imgs/showcase.jpg');
    }

}
// Desktops & laptops
@include mediaLg {

}

// Tablets & small laptops
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }

        .sm-heading {
            margin-right: 0;
        }
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0,0,0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%,0,0);
        // font-size: 10px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%,0,0);

        .portrait {
            background: url('../imgs/portrait_small.jpg');
            width: 150px;
            height: 150px;
        }
    }

    .about-info {
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
        grid-template-columns: 1fr;
    }

    .posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

// Smartphones
@include mediaSm {
    .menu-btn {
        top: 20px;
        right: 20px;
    }

    .citation {
        background: #fff;
        opacity: 0.7;
        padding: 0 0.5rem 0.3rem 0.5rem;
        margin-right: 18%;
        margin-left: 18%;
        border-radius: 5px;
        font-size: 1.2rem;
    }
    
    main {
        transition-delay: 0.8s;

        .lg-heading {
            font-size: 3.5rem;
        }

        .sm-heading {
            transition: none;

            &.no-bg{
                transition: none;
            }
        }

        .boxes {
            div {
                transition: none;
            }    
        }

        .posts {
            a {
                transition: none;
            }    
        }

        &.hide {
            transition: none;
            visibility: hidden; 
        }   

        &#work h1 {
            margin-top: 5vh;
        }
    }

    .job {
        h3 {
            font-size: 1rem;
        }
    }

    .pre-footer {
        @include easeOut;
        transition-delay: 0.8s;
        &.hide {
            transition: none;
            visibility: hidden; 
        }    
    }

    footer {
        @include easeOut;
        transition-delay: 0.8s;
        // p {
        //     font-size: 0.8rem;
        // }
        &.hide {
            transition: none;
            visibility: hidden; 
        }
    }
    .bio-image {
        width: 90%;
        height: auto;
    }

    .posts {
        grid-template-columns: 1fr;
    }

    .boxes {
        div{
            font-size: 1.3rem;
        }
    }
}

// Small smartphones
@include mediaXs {
    main {
        .lg-heading {
            font-size: 3rem;
            margin-bottom: 1.5rem;
        }
        .sm-heading {
            font-size: 1.3rem;
        }
    }

    .btn {
        font-size: 1rem;
    }
}

// Horizontally oriented Smartphones
@include mediaSm_Hori {
        .menu-btn {
            top: 35px;
            right: 25px;
        }

    main {
        transition-delay: 0.8s;

        .sm-heading {
            transition: none;

            &.no-bg{
                transition: none;
            }
        }

        .boxes {
            div {
                transition: none;
            }    
        }

        .posts {
            a {
                transition: none;
            }    
        }

        &.hide {
            transition: none;
            visibility: hidden; 
        }

        &#home h1 {
            margin-top: 10vh;
        }

        &#work h1 {
            margin-top: 5vh;
        }
    }

    .citation {
        background: #fff;
        opacity: 0.7;
        padding: 0 0.5rem 0.3rem 0.5rem;
        border-radius: 5px;
        font-size: 1.2rem;
    }

    ul.menu-nav,
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0,0,0);
        }
    }

    .menu-nav {
        height: 50vh;
        transform: translate3d(-100%,0,0);
        // font-size: 10px;
    }

    .menu-branding {
        height: 50vh;
        transform: translate3d(100%,0,0);

        .portrait {
            background: url('../imgs/portrait_small.jpg');
            width: 150px;
            height: 150px;
        }
    }

    .pre-footer {
        @include easeOut;
        transition-delay: 0.8s;
        &.hide {
            transition: none;
            visibility: hidden; 
        }    
    }

    footer {
        @include easeOut;
        transition-delay: 0.8s;
        // p {
        //     font-size: 0.7rem;
        // }
        &.hide {
            transition: none;
            visibility: hidden; 
        }
    }
}

// Horizontally oriented Large Smartphones
@include mediaSm_Hori_LS {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }

        .sm-heading {
            margin-right: 0;
        }

        #home h1 {
            margin-top: 5vh;
        }

        &#work h1 {
            margin-top: 5vh;
        }
    }
    
    .citation {
        background: #fff;
        opacity: 0.7;
        padding: 0 0.5rem 0.3rem 0.5rem;
        border-radius: 5px;
        font-size: 1.2rem;
    }
    .about-info {
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
        grid-template-columns: 1fr;
    }
    .posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

// Horizontally Oriented Small SmartPhones
@include mediaSm_Hori_SS {
    .menu .nav-item.current > a {
        font-size: 2rem;
    }

    // footer {
    //     p {
    //         font-size: 0.7rem;
    //     }
    // }

    .btn {
        font-size: 1rem;
    }
}


