@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1, h2, h3 {
    margin: 0;
    font-weight: 400;

    &.citation {
        margin: 0.8rem 0.1rem;
        color: rgb(122, 3, 190);
        font-weight: bold;
    }

    &.lg-heading {
        font-size: 4rem;
    }

    &.sm-heading {
        margin-bottom: 1.3rem;
        margin-right: 38%;
        border-radius: 5px;
        padding: 0.1rem 1rem 0.5rem 1rem;
        background: rgba(lighten($primary-color, 5), 0.5);
        transition: 1s ease-in-out;
        transition-delay: 0.5s;

        &.no-bg {
            padding: 0.1rem 1rem 0.5rem 0;
            background: none;
            @include easeOut();
            
        }
    }
}

a {
    color: #fff;
    text-decoration: none;

}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 3rem;
    min-height: calc(100vh - 100px); // 100px es la altura del pie de página

    .icons {
        a {
            padding: 0.3rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home { 
        overflow: hidden;
        h1 {
            margin-top: 15vh;
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3,1fr);
}

.bio-image {
    grid-area: bioimage;
    margin:auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
}

.bio {
    grid-area: bio;
    font-size: 1.5rem;
}

.job-1 {
    grid-area: job1;
}

.job-2 {
    grid-area: job2;
}

.job-3 {
    grid-area: job3;
}

.job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 3px solid;
    border-radius: 5px;

    hr {
        border: 1px solid darken(rgb(122, 3, 190),10);
    }

    h1 {
        color: $secondary-color;
    }

    h2 {
        color: #000;
        font-weight: bold;
    }

    h3 {
        margin-bottom: 0.5rem;
    }
}

//Work/Posts
.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7rem;
    align-items: flex-end;

    img {
        width: 100%;
        height: 188px;
        border: 3px solid #fff;
        border-radius: 5px;
        margin-top: 15px;

        &:hover {
            opacity: 0.8;
            border: 6px solid darken(rgb(122, 3, 190),10);
            @include easeOut;
        }
    }
}

// Contact Page
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;

    div {
        font-size: 2rem;
        border: 3px #fff solid;
        border-radius: 10px;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;

        &:hover {
            padding: 0.5rem 1.5rem;
            background: #333;
            color: set-text-color(#333);
        }

        a:hover {
            @include easeOut;
            color:rgb(122, 3, 190);
        }
    }
}

.castillo {
    width: 10%;
}

// Button Styles
.btn {
    display: block;
    font-size: 1.35rem;
    text-align: center;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 5px;
    margin-bottom: 0.3rem;
}

.btn-dark {
    @extend .btn;
    background: darken($secondary-color,20);
    color: #fff;
    @include easeOut;

    &:hover {
        background: lighten(rgb(122, 3, 190),20);
        color: #000;
        @include easeOut;
    }
}

.btn-light {
    @extend .btn;
    background: lighten($secondary-color,20);
    color: #000;
    @include easeOut;

    &:hover {
        background: darken(rgb(122, 3, 190),20);
        color: #fff;
        @include easeOut;
    }
}

.pre-footer {
    text-align: center;
    margin-bottom: 30px;
    a {
        color: $secondary-color;
    }
}

#main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: darken($primary-color,10);
    color: set-text-color($primary-color);
    height: 100px;
    p {
        font-size: 0.7rem;
        text-align: center;
        margin-left: 5px;
    }
    a {
        margin-right: 5px;
        color: $secondary-color;
    }
    img {
        border-radius: 7px;
        margin-top: 7px;
    }
}

@import 'mobile'; // Se importa al final para que sus efectos tengan precedencia